@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Adding keyframe animation for gradient background */
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

body {
    padding-top: 10px;

    font-family: 'Montserrat', sans-serif;
    color: #0a0a0a;
    line-height: 1.6;
    background-size: 200% 200%;
    background: whitesmoke;
    animation: gradientBG 10s ease infinite;
    margin: 0;
}

.container {
    max-width: 70vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

input, select, #output, #reportContainer {
    background-color: #000000;
    border: 1px solid #ddd;
    color: #333;
}

input:hover, input:focus, select:hover, select:focus {
    background-color: #ececec;
    border-color: #bbb;
}

.btn-primary, .btn-secondary {
    background: #007bff;
    border: none;
    color: #000000;
    display: none; /* Keep the buttons hidden */
}

.btn:hover {
    opacity: 0.9;
}

.agent_question, .agent_response, #output, #reportContainer {
    color: rgb(26, 26, 26);
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
}

.chat-interface {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
}

.chat-interface .form-group {
    display: flex;
    width: 92vw;
}

.chat-interface .btn-agent,
.chat-interface .chat-select,
.chat-interface .chat-input,
.chat-interface .chat-send {
    margin: 0 5px;
}

.chat-interface .chat-input {
    flex-grow: 1;
    border-radius: 4px;
}

.chat-interface .btn-agent,
.chat-interface .chat-select,
.chat-interface .chat-send {
    white-space: nowrap;
}

/* Make sure the Auto Agent button is invisible but occupies space */
.chat-interface .btn-agent {
    visibility: hidden;
}

/* Styling for output and report container */
#output, #reportContainer {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 12px;
    overflow: auto; /* Add scrolling if content is too much */
}

/* Agent response styling */
.agent_response {
    background-color: #f8f8f8;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}